.cardGame {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px 1px black;
  position: relative;
  overflow: visible;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 0;
}

.outer {

  border-radius: 5px;
  border: 1px solid black;
  background: #000000;
  background: linear-gradient(359deg,#000000 0%, #321c81 80%);
  background: -webkit-linear-gradient(359deg,#000000 0%, #1e1d67 80%);
  background: -moz-linear-gradient(359deg,#000000 0%, #2b1b73 80%);
 
}

.game_price_offers{
color: white;

}

.cardGame p {
  font-family: "Roboto", sans-serif;
}

.cardGame-img {
  height: 230px;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: 0.3s ease;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.cardGame-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cardGame-info {
  width: 100%;
}

svg {
  color: white;
  width: 20px;
  height: 20px;
}

.containerfooter {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.cardGame-footer {
  height: 51px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
}

.textshowdetails {
  height: 25px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}


.textGame-title {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  font-size: 1em;
  text-align: center;
  z-index: 3;
}

.textGame-body p {
  width: 100%;
  font-size: 0.9em;
  text-align: center;
  z-index: -11;
}


.cardGame-game {
  background-color: rgb(2, 2, 72);
}


.cardGame-img:hover {
  transform: translateY(-12%);
}


@media (max-width: 1200px) {
  .cardGradient .cardImg {
    display: none;
  }
}