#allCategory {
  height: 250px;
  width: 150px;
  border-radius: 15px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border: 1px solid #10327c;
  box-shadow: 0px 0px 20px 1px rgb(6, 3, 34);
}

#allCategory:hover {
  transform: translateY(-5%);
}

.category_name {
  position: absolute;
  display: flex;
  margin: auto;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: end;
  opacity: 90%;
  border-radius: 15px;
}

.category_name h3 {
  font-size: 2.5rem;
  color: #fca311;
  font-weight: bold;
  height: 40px;
}

.category_contain {
  width: 100vw;
  height: auto;
  scale: 100%;
}

.category_shootter {
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}
.category_shootter img {
  width: 100%;
}

.category_sport {
  overflow: hidden;
  object-fit: contain;
  object-fit: cover;
}

.category_sport img {
  height: 100%;
}

#category_actions {
  background: rgb(6, 10, 25);
  background: linear-gradient(
    139deg,
    rgba(6, 10, 25, 0) 0%,
    rgb(20, 37, 96) 81%
  );
}

#category_adventure {
  background: rgb(6, 10, 25);
  background: linear-gradient(
    125deg,
    rgba(6, 10, 25, 0) 0%,
    rgba(142, 0, 255, 0.6887547255230217) 100%
  );
}

#category_rol {
  background: rgb(6, 10, 25);
  background: linear-gradient(
    125deg,
    rgba(6, 10, 25, 0) 0%,
    rgba(255, 150, 0, 0.6887547255230217) 100%
  );
}

#category_shooter {
  background: rgb(6, 10, 25);
  background: linear-gradient(
    125deg,
    rgba(6, 10, 25, 0) 0%,
    rgba(0, 255, 245, 0.6887547255230217) 100%
  );
}

#category_sports {
  background: rgb(6, 10, 25);
  background: linear-gradient(
    125deg,
    rgba(6, 10, 25, 0) 0%,
    rgba(2, 153, 0, 0.6887547255230217) 100%
  );
}

#category_strategy {
  background: rgb(6, 10, 25);
  background: linear-gradient(
    125deg,
    rgba(6, 10, 25, 0) 0%,
    rgba(248, 255, 0, 0.4590628487723214) 100%
  );
}

#category_terror {
  background: rgb(6, 10, 25);
  background: linear-gradient(
    125deg,
    rgba(6, 10, 25, 0) 0%,
    rgba(255, 0, 0, 0.6887547255230217) 100%
  );
}

.category_actions {
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}
.category_actions img {
  width: 100%;
}

.category_adventur {
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}

.category_adventur img {
  width: 100%;
}

.category_rol {
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}

.category_rol img {
  width: 100%;
}

.category_strategy {
  overflow: hidden;
  object-fit: contain;
}

.category_strategy img {
  height: 100%;
}

.category_terror {
  overflow: hidden;
  object-fit: contain;
}

.category_terror img {
  width: 100%;
}

@media (min-width: 1201px) {
  .category_subContain {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .category_subContain {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  #categoryTop {
  }

  .category_contain {
    z-index: 5;
    padding: 0;
    scale: 0.8;
  }
  .category_subContain {
    width: auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 0;
  }

  #allCategory {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  #categoryTop {
  }

  .category_contain {
    z-index: 5;
    padding: 0;
    scale: 0.8;
  }
  .category_subContain {
    width: auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
  }

  #allCategory {
    margin-top: 40px;
  }
}

@media (max-width: 391px) {
  .category_subContain {
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }
  #allCategory {
    margin-top: 20px;
    height: 150px;
    width: 100px;
    border-radius: 15px;
  }

  #allCategory h3 {
    font-size: 1.8rem;
    padding-top: 10px;
  }
}
