.headerEffect {
  position: relative;
  overflow: hidden;
}

.vidEffect {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.headerEffect::before {
  content: "";
  display: block;
  /* padding-top: 56.25%; */
}

@media (max-width: 768px) {
  .vidEffect {
    height: 100%;
    width: auto;
  }

  .headerEffect::before {
    padding-top: 177%;
  }
}

.tittleHeader {
  color: white;
  position: sticky;
  top: 60vh;
  padding-bottom: 50px;
}

.logo_icon_header {
  height: 200px;
  position: absolute;
}

.totalHeaderContent {
  font-family: "Yanone Kaffeesatz", sans-serif;
  height: 100vh;
}

@media (max-width: 1400px) {
  .totalHeaderContent {
    display: none;
  }
}

@media (max-width: 990px) {
}

@media (min-width: 990px) {
  .totalHeaderContent {
  }
}

@media (max-width: 768px) {
  .totalHeaderContent {
  }
}

@media (max-width: 391px) {
  .totalHeaderContent {
  }
}
