.foot_text {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 0.8rem;
}

.foot_page {
  opacity: 20%;
  color: #e5e5e5;
  bottom: 0;
  margin: auto;
  height: 80px;
}

.foot_text p {
  margin: 0;
  color: #e5e5e5;
  font-weight: bold;
}

.rights_reserved {
  height: 50px;
  color: #e5e5e5;
}

.rights_reserved p {
  font-size: 0.55rem;
  margin: 0;
}

.foot_page_contain {
  border-top: 1px solid #e5e5e5;
  height: 20px;
}

.foot_page_icons svg {
  height: 30px;
  color: #e5e5e5;
}

@media (max-width: 391px) {
  .foot_text {
    margin-left:;
    margin-right:;
    font-size: 0.8rem;
  }
}
