.gameid_container {
  background-position: center;
  background-size: cover;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #fca311;
  height: 100vh;
  overflow: hidden;
}

.gameid_leftTop {
  height: 60%;
  margin-bottom: 2%;
}

.gameid_container h1 {
  font-size: 3.5rem;
}

.gameid_leftTop img {
  box-shadow: 22px 22px 41px 12px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 22px 22px 41px 12px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 22px 22px 41px 12px rgba(0, 0, 0, 0.63);
}

.gameid_leftTop img {
  width: 100%;
  border-radius: 0 20px 20px 0;
}

.gameid_leftBottom {
  height: 40%;

  justify-content: center;
}

.gameid_rightTop h4 {
  width: 70%;
  font-size: 2.5rem;
  font-weight: bold;
}

.gameid_description {
  margin: 0 20px;
  overflow: hidden;
  height: 100%;
  width: 70%;
  border-radius: 10px;
  background: rgba(23, 22, 22, 0.63);
  backdrop-filter: blur(30px);
  box-shadow: 0px 9px 45px -6px rgba(0, 0, 0, 0.94);
  -webkit-box-shadow: 0px 9px 45px -6px rgba(0, 0, 0, 0.94);
  -moz-box-shadow: 0px 9px 45px -6px rgba(0, 0, 0, 0.94);
}

.gameid_bottom {
  margin: auto;
  width: 80%;
  height: 70%;
  overflow: scroll;
}

.gameid_bottom p {
  color: #fca311;
  font-size: 1rem;
  text-shadow: rgb(122, 119, 151) 1px 0 10px;
}

.gameid_bottom::-webkit-scrollbar-thumb {
  background-color: #50505042;
  border-radius: 10px;
  height: 35px;
}

.gameid_bottom::-webkit-scrollbar {
  width: 8px;
}

.gameid_rightTop {
  height: 45%;
  padding-top: 10%;
  padding-left: 3%;
  padding-right: 3%;
}

.gameid_rightBottom {
  height: 55%;
  margin: 5%;
}

.gameid_cardPrice_button {
  scale: 2;
}

.gameid_rightBottom_video video {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 10%;
}

.gameid_rightBottom_video {
  height: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.gameid_cardPrice span {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.gameid_cardPrice p {
  display: flex;
  margin: auto;
  text-align: center;
  background: #fca311;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  color: #14213d;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #fca311;
  font-weight: bold;
}

.gameid_cardPrice p:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #fca311;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(0deg);
  transform-origin: right;
}

.gameid_cardPrice p:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
}

.gameid_cardPrice p:hover {
  color: white;
  transition: all 0.5s ease;
  scale: 1.05;
}

.gameid_cardPrice p:nth-of-type(1) {
  border-radius: 10px;
  box-shadow: 0px 9px 45px -6px rgba(0, 0, 0, 0.94);
  -webkit-box-shadow: 0px 9px 45px -6px rgba(0, 0, 0, 0.94);
  -moz-box-shadow: 0px 9px 45px -6px rgba(0, 0, 0, 0.94);
}

.gameid_subcontainer {
  height: auto;
}

@media (min-width: 1200px) {
  .gameid_rightBottom_video video {
    border-radius: 10px;
  }
}

@media (max-width: 1200px) {
  .gameid_container {
    overflow: scroll;
  }

  .gameid_subcontainer {
    width: 100%;
    height: auto;
  }
  .gameid_container {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .gameid_leftTop {
    height: auto;
    width: auto;
    margin-top: 100px;
    padding: 10%;
  }
  .gameid_leftTop img {
    border-radius: 7px;
  }
  .gameid_leftBottom {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .gameid_cardPrice_button {
    scale: 1.7;
  }

  .gameid_rightBottom {
    height: auto;
    padding-top: 5%;
  }

  .gameid_description {
    width: 100%;
    margin: 0 10%;
  }

  .gameid_rightBottom_video video {
    width: 100%;
    padding: 0 10%;
    border-radius: 7px;
  }
}

@media (max-width: 768px) {
  .gameid_subcontainer {
    width: 100%;
    height: auto;
  }
  .gameid_container {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .gameid_leftTop {
    height: auto;
    width: auto;
    margin-top: 10%;
    padding: 10%;
  }
  .gameid_leftTop img {
    border-radius: 7px;
  }
  .gameid_leftBottom {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }

  .gameid_cardPrice_button {
    scale: 1.3;
  }

  .gameid_rightBottom {
    height: auto;
    padding-top: 5%;
  }

  .gameid_description {
    width: 100%;
    margin: 0 10%;
  }

  .gameid_rightBottom_video video {
    width: 100%;
    padding: 0 10%;
    border-radius: 7px;
  }
}

@media (max-width: 576px) {
  .gameid_subcontainer {
    width: 100%;
    height: auto;
  }
  .gameid_container {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .gameid_leftTop {
    height: auto;
    width: auto;
    margin-top: 10%;
    padding: 20px;
  }
  .gameid_leftTop img {
    border-radius: 7px;
  }
  .gameid_leftBottom {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .gameid_cardPrice_button {
    scale: 1.3;
  }

  .gameid_rightBottom {
    height: auto;
    padding-top: 50px;
  }

  .gameid_description {
    width: 100%;
  }

  .gameid_rightBottom_video video {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 359px) {
  .gameid_subcontainer {
    width: 100%;
    height: auto;
  }
  .gameid_container {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .gameid_leftTop {
    height: auto;
    width: 390px;
    margin-top: 100px;
    padding: 20px;
  }
  .gameid_leftTop img {
    width: 100%;
    border-radius: 7px;
  }
  .gameid_leftBottom {
    width: 390px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .gameid_cardPrice_button {
    scale: 1;
  }

  .gameid_rightBottom {
    height: auto;
    padding-top: 100px;
  }

  .gameid_description {
    width: 100%;
  }

  .gameid_rightBottom_video video {
    width: 100%;
    padding: 20px;
  }
}
