.card_game {
  height: 200px;
}

#search_container {
  height: 200vh;
  border-radius: 20px;
  background: rgba(23, 22, 22, 0.198);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  border: 1px solid #14213d;
  box-shadow: 0px 0px 20px 1px rgba(6, 3, 34, 0.411);
}

.search_scrollContent::-webkit-scrollbar-thumb {
  background-color: #50505042;
  border-radius: 10px;
  height: 35px;
}

.search_scrollContent::-webkit-scrollbar {
  width: 8px;
}

.search-input input {
  padding-left: 40px;
  color: #fca311;
  text-align: start;
  background-color: transparent;
  border: 2px solid #fca311;
  border-radius: 50px;
  height: 45px;
  min-width: 25%;
}

#search-input {
  width: 100%;
  display: flex;
  justify-content: start;
  padd: 5px;
}

.search-input {
  border-bottom: 2px solid #14213d;
}

.container_wapperHome {
  overflow: scroll;
  height: 80vh;
  padding: 10px;
}

.home_button {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .home_belowContainer {
    padding-top: 100px;
  }
}

@media (max-width: 990px) {
}

@media (min-width: 990px) {
  .search-input {
    width: 370px;
    display: flex;
    justify-content: center;
  }

  .container_wapperHome {
    overflow: auto;
  }

  .prueba {
    height: auto;
  }

  #search_container {
    height: auto;
  }
}

@media (max-width: 768px) {
  .search-input {
    width: 370px;
    display: flex;
    justify-content: center;
  }

  .container_wapperHome {
    overflow: auto;
  }

  .prueba {
    height: auto;
  }

  #search_container {
    height: auto;
  }
}

@media (max-width: 391px) {
  .search-input {
    width: 370px;
    display: flex;
    justify-content: center;
  }

  .container_wapperHome {
    overflow: auto;
  }

  .prueba {
    height: auto;
  }

  #search_container {
    height: auto;
  }
}
